*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}
body{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background: #fff;
    color: #243a6f;
    position: relative;
    z-index: 1;
}
h1,h2,h4,h4{
    font-weight: 500;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
ul{
    margin: 0;
    padding: 0;
}
button{
    margin: 0;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
.container-md{
    max-width: 100rem;
    margin: 0 auto;
}

.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #d1e2e9;
    overflow: hidden;
}
.header-x{
    background-color: rgba(0, 0,0 , 0.8) !important;
}
.nav{
    padding: 1.6rem 0;
    /* display: none; */
}
.nav-scroll{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #243a6f;
    box-shadow: 0 5px 15px rgba(0, 0,0 , 0.3);
    z-index: 100;
    color: #fff;
    padding: 0;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    font-size: 2.5rem;
}
.top-nav{
    display: none;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-item:not(:last-child){
    margin-right: 0.5rem;
}
.nav-link:link,
.nav-link:visited{
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link-icon{
    font-size: 3rem;
}
.hamburger{
    display: none;
}
.cart-icon{
    display: none;
}
@media Only screen and (max-width:1200px ){
    .container{
        padding: 0 3rem;
    }
    .container-md{
     padding: 0 3rem
     ;
    }
    
}
@media only screen and ( max-width:768px){
    .menu{
        position: fixed;
        top: -7px;
        left: -50%;
        margin-top: 8px;
        width: -100%;
        max-width: 40rem;
        height: 100%;
        width: 50%;
        background: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }
    .menu-active{
        left: 0 !important;
        /* margin : 8px 0 0 8px */
    }
    .menu-active-scroll{
        left: -8px !important;
        top: -7px;
    }
    .menu .show{
    
        left: 0;
    }
    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #243a6f;
        /* padding: 1rem 1.6rem; */
    }
    .top-nav .logo{
        color: #fff;
    }
    .top-nav .close{
        color: #fff;
        font-size: 3rem;
        padding: 1rem;
        cursor: pointer;
    }
    .cart-icon{
        display: block;
        font-size: 3rem;
    }
    .hamburger{
        display: block;
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }
    .nav-list{
        flex-direction: column;
        align-items: start;
        padding-left: 1rem;
    }
    .nav-link:link,
    .nav-link:visited{
        display: block;
        font: 1.7rem;
        padding :1rem 0;
    }
    .nav-link .icon{
        display: none;
    }
    body .show::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        background-color: rgba(0, 0,0 , 0.8);

    }
    /* .nav .show{
        background-color: rgba(0, 0,0 , 0.8);
    } */
}
.header .hero-img{
    position: absolute;
    bottom: 0%;
    right: -5%;
    height: 90%;
    object-fit: contain;
}
.hero-content{
    position: absolute;
    top: 50%;
    transform:translate(25%,-50%)
}
.hero-content h2{
    color: #b888ff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.hero-content .discount{
    color :#fbb419;
}
.hero-content h1 span{
    color :#253b70;
    font-weight: 700;
    font-size: 6rem;
    display: block;
    line-height: 1;
    text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}
.btn{
    display: inherit;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 1.2rem 4rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 3rem;
    border: none;
}
.btn:hover{
    background: transparent;
    color :#333;
    border: #333;
}
@media only screen and ( max-width:1200px) and (min-width:997px){
    .header .hero-img{
        right: -20%;
    }
    .hero-content{
        transform: translate(20%,-50%);
    }
    .hero-content h2{
        font-size: 2rem;
    }
    .hero-content h1 span{
        font-size: 5rem;
    }
}
@media only screen and ( max-width:796px){
    .header{
        min-height: 70vh;
    }
    .header .hero-img{
        right: -10%;
        height: 40rem;
    }
}
@media only screen and (max-width:567px){
    .header{
        min-height: 100vh;
    }
    .header .hero-img{
        bottom: -15%;
        right: 0;
    }
    .hero-content{
        transform: translate(15%,-50%);
        top: 41%;
    }
    .hero-content h2{
        font-size: 1.8rem;
    }
    .hero-content h1 span{
        font-size: 5rem;
    }
    .hero-content a{
        padding: 1rem 3rem;
    }
    body{
        margin: 0;
    }
}

/* Adert */
.section{
    padding: 10rem 0 5rem 0;
}
.advert-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}
.advert-box{
    position: relative;
    color: #fff;
    height: 23rem;
    border-radius: 1rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
}
.advert-box:first-child{
    background-color: #f5c5d1;
}
.advert-box:nth-child(2) {
    background-color: #a1d1df;
}
.advert-box:nth-child(3) {
    background-color: #e5bc00;
}
.advert-box .dotted {
    position: relative;
    height: 100%;
    border: 2px dashed #f1f1f1;
    border-radius: 1rem;
}
.advert-box .content {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}
.advert-box img {
    position: absolute;
    bottom: 0%;
    left: -20%;
    height: 100%;
    width: 35rem;
    z-index: -1;
}
.dotted .content h2{
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.advert-box .content h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.advert-box .content h2 ,.advert-box .content h4{
    text-shadow: 5px 6 0 rgba(37, 59, 112, 0.1) ;
}

/* product */
.title{
    margin: 2rem 0 7rem 0;
    text-align: center;
    position: relative;
    z-index: 0;
}
.title h1{
    font-size: 3rem;
}
.title h1::after{
    content:"" ;
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%,-50%);
    background-color: #f60091;
    width: 14%;
    height: 0.4rem;
    z-index: 1;
}


/* proeduct */
.product-center{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 7rem 3rem;
}
.product{
    height: 48rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0,0 , 0.15);
    border-radius: 1rem;
    text-align: center;
    transition:  all 300ms ease-in-out;
}
.product:hover{
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0,0 , 0.25);

}
.product-header{
    position: relative;
    background-color: #fff;
    height: 35rem;
    transition: all 300ms ease-in-out;
    z-index: 0;
}
.product-header img{
    height: 100%;
}
.product-footer{
    padding:  2rem 1.6rem 1.6rem  1.6rem;
}
.product-footer h3{
    font-size: 1.3rem;
}
.rating{
    color: #43b3d9;
}
.rating  :hover{
    color: #f6fa07;

}
.product-footer .price{
    font-size: 2rem;
    color: #ff7c9c;
}
.product:hover .product-header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba(0, 0,0 , 0.5);
    z-index: 1;
    transition: all 500ms ease-in-out;
}
.product-header .icons{
    position:absolute;
    top: 50%;
    right: 5%;
    transform: translate(0 ,-50%) ;
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.product-header .icons span{
    display: block;
    font-size: 2.2rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 1.5rem 1.6rem;
    line-height: 2rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;
}
.product-header .icons span i{
    transition: all 500ms ease-in-out;
}
.poduct-header .icons span:not(:last-child){
    margin-bottom: 1rem;
}
.product-header .icons span:hover{
    background: #ff7c9c;
    color: #fff;
}
.product:hover .icons{
    display: block;
    opacity: 1;
    margin-bottom: 1rem;
    transition: all 500ms ease-in-out;
}
/* produc banner */
.product-banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50rem;
    background: #243a6f;
}
.product-banner .left img{
    object-fit: cover;
    height: 100%;    
}
.product-banner .right{
    align-self: center;
    text-align: center;
    padding: 1.6rem;
}
.product-banner .content h2{
    color: #fbb419; 
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.product-banner .content .discount{
    color: #b888ff;
}
.product-banner .content h1 span{
    color: #fff;
    font-size: 6rem;
    display: block;
    line-height: 1;
}
.btn-shop-now{
    display: initial;
    margin-top: 4rem;
}
@media only screen and (max-width:996px){
    .product-banner .content h1 span{
        font-size: 5rem;
    }
}
@media only screen and (max-width:768px){
    .product-banner{
        grid-template-columns: 1fr;
    }
    .product-banner .left{
        display: block;
    }
    .product-banner .content h1 span{
        font-size: 4rem;
    }
    .product-banner .content h2{
        font-size: 2rem;
    }
    .product-banner .content a{
        padding : 1rem 3rem;
    }
    .product-banner .left{
        display: none;
    }

}

/* Testimonial */
.testimonial-center{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 6rem;
}
.testimonial{
    position: relative;
    padding: 5rem;
    background: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0,0 , 0.1);
    transition: all 300ms ease-in-out;
    text-align:center;
    border-radius: 0.5rem;
}
.testimonial:hover{
    box-shadow: 0 .5rem 1.5rem rgba(0, 0,0 , 0.3);
    transform: translateY(-1rem);
}
.testimonial span{
    position: absolute;
    top: 2%;
    left: 50%;
    font-size: 12rem;
    transform: translate(-50%,0);
    line-height: 1;
    font-family: sans-serif;
}

.testimonial p{
    margin: 2rem 0 1rem 0;
}
.testimonial .rating{
    margin-bottom: 1rem;
}
.testimonial .img-cover{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    margin: 0 auto;
}
.testimonial .img-cover img{
    height: 100%;
    object-fit: cover;
}

.testimonial h4{
    margin-top: 1rem;
}
.brands-center{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 3rem;
}
.brand{
    height: 8rem;
    width: 8rem;
    margin: 0 auto;
}
.brand img{
    object-fit: contain;
}
@media only screen and (max-width:768px){
    .brands-center{
        grid-template-columns: repeat(3,1fr);
    }
}
.footer{
    background: #222;
    padding: 6rem 1rem;
    line-height: 3rem;
}
.footer{
    margin-right: 1rem;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #fff;
}
.footer-center a:link,
.footer-center a:visited{
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 1s;
}
.footer-center a:hover{
    color: #f60091;
}
.footer-center h4{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
@media only screen and (max-width :768px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}